<avatar-display 
  [name]="avatar.options.name" 
  [characters]="avatar.options.charachters"
  [image]="avatar.options.image"
  [bgColor]="avatar.options.bgColor"
  [textColor]="avatar.options.textColor"
  [size]="avatar.options.size"
  [fontSize]="avatar.options.fontSize"
  [rounded]="avatar.options.rounded"
  [radius]="avatar.options.radius"
  [margin]="avatar.options.margin"
  [randomColor]="avatar.options.randomColor"
  [label]="avatar.options.label"
  [labelBgColor]="avatar.options.labelBgColor"
  [labelTextColor]= "avatar.options.labelTextColor"
  [active]="avatar.options.active"
  >
</avatar-display>